a:link {
  color: blue;
}

#header {
  font-size: 14pt;
  padding-bottom: 10px;
  padding-top: 10px;
}

#footer {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pic {
  max-width: 640px;
  max-height: 480px;
}

#subreddit {
  padding-bottom: 10px;
}