<!DOCTYPE html>
<html ng-app>

<head>
  <title>reddwatch</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div ng-controller="PostCtrl">
    <div class="container">
      <div id="header">
        <div id="subreddit">
          /r/&nbsp;
          <input type="text" ng-model="subreddit" ng-keypress="sr_keypress($event)" />
          <img ng-show="isLoading" src="img/ajax-loader.gif">
          <br />
        </div>
        <div id="settings">
          category:
          <select ng-model="queryOption" ng-options="o.name for o in queryOptions">
          </select>
          sort by:
          <select ng-model="sortOption" ng-options="o.name for o in sortOptions">
          </select>
        </div>
        <br />
      </div>

      <ol>
        <div ng-repeat="post in posts | orderBy:sortOption.value:true">
          <li>
            <div id="post">
              <button type="button" ng-click="closeClick($event, post.url)" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              &nbsp;<a ng-href="{{post.url}}"> {{post.title}} </a>
              <br />{{post.score}} points, <a ng-href="http://www.reddit.com{{post.permalink}}"> {{post.num_comments}} comments </a> by
              <a ng-href="http://www.reddit.com/u/{{post.author}}"> {{post.author}} </a> {{post.author_flair_text}} in
              <a ng-href="http://www.reddit.com/r/{{post.subreddit}}"> /r/{{post.subreddit}}</a> on {{post.date}} at {{post.time}}
              <br />

              <!-- post text -->
              <div ng-show="post.trustedHtml">
                <button type="button" class="btn btn-default btn-xs" ng-click="toggleTxt($event, post)">
                  <span ng-class="{true: 'glyphicon glyphicon-minus-sign', false: 'glyphicon glyphicon-font'}[post.isTxtToggled]"></span>
                </button>
                <div ng-show="post.isTxtToggled">
                  <div ng-bind-html="post.trustedHtml"></div>
                </div>
              </div>

              <!-- post picture -->
              <div ng-show="post.isImg">
                <button type="button" class="btn btn-default btn-xs" ng-click="toggleImg($event, post)">
                  <span ng-class="{true: 'glyphicon glyphicon-minus-sign', false: 'glyphicon glyphicon-picture'}[post.isImgToggled]"></span>
                </button>
                <br />
                <div ng-show="post.isImgToggled">
                  <a ng-href="{{post.url}}">
                    <img ng-src="{{post.url}}" class="pic">
                  </a>
                </div>
              </div>

              <hr />
            </div>
          </li>
        </div>
      </ol>

      <div id="footer">
        current: {{posts.length}}
        <br />total: {{seenUrls.length}}
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="js/script.js">
  </script>
</body>

</html>
